.banner {
  height: 56vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56%;
  width: 100%;
}

.banner-text-area {
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  font-family: sans-serif;
}

.banner-text-area * {
  z-index: 2;
}
