.review-text-area.fold {
  max-height: 100px;
  overflow: hidden;
}
.review-text-area.expand {
  max-height: none;
}
.add-button {
  position: absolute;
  background: none;
  border:none;
  color:white;
  bottom: 2px;
  left:9px;
}
