.movie-card {
  min-width: 220px;
  height: 330px;
  cursor: pointer;
  background-size: cover;
  transition: 0.5s;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #2b2929e6;
  opacity: 0;
  transition: all 1s;
  overflow-wrap: break-word;
  padding: 0.8rem;
}
.badge-list {
  display: flex;
  gap: 4px;
}

.overlay:hover {
  opacity: 1;
}
.movie-card:hover {
  transform: scale(1.4) translateZ(20px);
  z-index: 2;
}
